* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
