header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Space Grotesk';
  padding: 10px 20px;
}

.right {
  text-align: right;
}

#top-text {
  color: #7a7a7a;
}

#app-title,
#local-time {
  color: #f2f3f4;
}

@media (min-width: 868px) {
  #app-title {
    font-size: 1.5rem;
  }
  #local-time {
    font-size: 1.25rem;
  }

  #top-text {
    font-size: 1.2rem;
  }
}
